

  /* 添加禁止滚动样式*/
        html,
        body {
            overflow: hidden;
            height: 100%;
        
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #f0f2f5;
        }

       .container {
            /* 修改背景色为带有透明度的白色 */
            background: rgba(255, 255, 255, 0.1); 
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            width: 400px;
            margin: 20px 0;
            transform: translateY(-90px); /* 修改这里的值，增大向上移动的距离 */
        }

       .tabs {
            display: flex;
            margin-bottom: 2rem;
        }

       .tab {
            flex: 1;
            padding: 1rem;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            border-bottom: 3px solid transparent;
        }

       .tab.active {
            border-color: #2196F3;
            font-weight: bold;
            color: #2196F3;
        }

       .form-container {
            position: relative;
        }

       .form {
            display: none;
            opacity: 0;
            transition: 0.3s;
        }

       .form.active {
            display: block;
      